@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    background-color: #cafdff;
}

a{ 
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

header{
    background-color: #eadcff;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

h1{
    font-size: 72px;
}
 
.sub-header{
    font-size: 36px;
    margin:  16px 0px 24px 0px;
}

button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 24px;

}


.logo{
    width: 250px;
}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
    padding-left: 16px;
}


.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#about, 
#discord,
#contact,
footer{
    padding: 48px 0px;  
}

/* ABOUT SECTION */




#about{
    background-color: #f8ffdc;   
}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section_description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt_img{
    width: 40%;
    padding: 0px 24px;
}

img{
    width: 100%;
}

.section-description-wrapper{
    width: 60%;
    padding: 0px 24px;
}

.section-description-para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}


/* DISCORD */


#discord{
    background-color: #cefeff;
}


/* CONTACT */


#contact{
    background-color: #dce9ff ;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

input, textarea{
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;

}


/* FOOTER */

footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    max-width: 480px;
    margin-bottom: 16px;
}

.footer-links{
    margin-bottom: 32px ;
}

.footer-link{
    padding: 0px 16px;
}



@media (max-width: 728px){
    .row{
        flex-direction: column;
    }

    .home-description{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .home-description-btn{
        max-width: 240px;
        text-align: center;
    }

    h1{
        text-align: center;
        font-size: 60px;
    }

    .sub-header{
        text-align: center;
        font-size: 28px;
    }

    ul{
        display: none ;
    }
}

